@import '../../_Global_Styles/colors';

main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  padding: 0 2rem;
  background-color: $homepagecolor;
  clip-path: polygon(100% 0, 100% 84%, 0 100%, 0 0);

  .intro-container {
    margin-top: 4rem;
    h3, h4 {
      color: $white;
      font-size: 1.4rem;
      margin-bottom: 1.5rem;
      opacity: 0.9;
    }

    h4 {
      margin-top: 2rem;
    }

    .name {
      h1,
      h2 {
        color: $white;
        font-size: 5rem;
        font-weight: 800;
      }

      h2 {
        color: #f1ff77;
      }
    }
  }

  .image-container {
    img {
      display: none;
    }
  }
}
