section {
  width: 100%;
  padding: 6rem 0;
}

article {
  position: relative;
  overflow: hidden;
  width: 70%;
  max-height: 100%;
  padding: 3rem;
  background-color: hsl(48, 100%, 82%);
  border: none;
  border-radius: 1rem;
  box-shadow: 0px 1px 20px -5px rgba(0, 0, 0, 0.4);
  margin: auto;
  transition: all 1s;

  h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #37474f;
  }

  p {
    position: relative;
    margin-top: 2rem;
    font-size: 1.15rem;
    color: #37474f;
    line-height: 2em;
    letter-spacing: 0.1rem;
    z-index: 1;
  }

  img {
    position: absolute;
    z-index: 0;

    &.shape-one {
      top: -20%;
      left: -10%;
      width: 23%;
      opacity: 0.5;
    }

    &.shape-two {
      top: 75%;
      right: 10%;
      width: 4%;
      opacity: 0.5;
    }

    &.shape-three {
      top: 75%;
      right: -5%;
      width: 20%;
      opacity: 0.5;
    }
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-20px);
  }
}

// Responsive styles
@media (max-width: 1280px) {
  article {
    img {
      display: none;
    }
  }
}

@media (max-width: 720px) {
  article {
    p {
      font-size: 1rem;
    }
  }
}

@media (max-width: 620px) {
  article {
    width: 85%;

    p {
      font-size: 1rem;
    }
  }
}

@media (max-width: 480px) {
  article {
    width: 95%;

    h2 {
      font-size: 1.6rem;
    }

    p {
      font-size: 0.7rem;
    }
  }
}
