section {
  width: 100%;
  height: 500px;
  padding-top: 10rem;
  background-color: hsl(48, 100%, 80%);

  .about {
    width: 80%;
    height: 100%;
    margin: auto;
  }
}

.title {
  h1 {
    font-size: 2.5em;
    color: #37474f;
  }

  div {
    width: 150px;
    height: 10px;
    background-color: #ff5252;
  }
}

.content {
  margin-top: 2rem;

  p {
    font-size: 1.2em;
    color: #37474f;
    line-height: 2em;
  }
}