header {
  min-height: 35rem;
  background-color: #005dff;
  clip-path: polygon(100% 0, 100% 84%, 0 100%, 0 0);
  padding: 0 2rem;
}

main {
  padding-top: 5rem;
  .intro-container {
    h3,
    h4 {
      color: #fff;
      font-size: 1.2em;
      margin-bottom: 0.5em;
      opacity: 0.9;
    }

    h4 {
      font-size: 1.4em;
      margin-top: 0.5em;
    }

    .name {
      h1,
      h2 {
        color: #fff;
        font-size: 4.5em;
        font-weight: 800;
      }

      h2 {
        color: #f1ff73;
      }
    }
  }

  .image-container {
    img {
      display: none;
    }
  }
}

// Responsive styles
@media screen and (min-width: 360px) {
  main {
    .intro-container {
      h4 {
        font-size: 1.6em;
      }

      .name {
        h1,
        h2 {
          font-size: 5em;
        }
      }
    }
  }
}

@media screen and (min-width: 575px) {
  main {
    display: flex;
    justify-content: space-between;

    .image-container {
      height: 10rem;
      margin-top: 5rem;

      img {
        display: block;
        width: 15rem;
      }
    }
  }
}
