@import '../../_sass-variables/_fonts';
@import '../../_sass-variables/_colors';

header {
  width: 100%;
  max-height: 700px;
  padding: 8rem 0 10rem 0;
}

main {
  width: 80%;
  display: flex;
  background-color: #fff;
  margin: auto;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;

  h1 {
    font-size: var(--font-l);
    color: $greyshade;
    margin: 2rem 0;
    letter-spacing: 5px;
  }

  span {
    color: $pinkshade;
  }

  h2 {
    font-size: var(--font-m);
    font-weight: 400;
    letter-spacing: 7px;
    color: $greyshade;
  }
}

.image-container {
  height: 500px;

  img {
    width: 510px;
    height: 100%;
  }
}

// Responsive styles
@media screen and (max-width: 1680px) {
  header {
    padding: 5rem 0 8rem 0;
  }

  .image-container {
    img {
      width: 420px;
    }
  }
}

@media screen and (max-width: 1340px) {
  .text-container {
    span {
      display: block;
    }
  }
}

@media screen and (max-width: 1240px) {
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    position: fixed;
    top: 5%;
    right: 8%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 5px 30px -15px rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    z-index: 1;

    img {
      width: calc(100% - 80px);
      height: calc(100% - 80px);
    }
  }
}

@media screen and (max-width: 920px) {
  .image-container {
    width: 180px;
    height: 180px;
  }
}

@media screen and (max-width: 660px) {
  .image-container {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 580px) {
  .image-container {
    width: 120px;
    height: 120px;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 500px) {
  header {
    padding: 2rem 0 5rem 0;
  }

  .image-container {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .text-container {
    h2 {
      letter-spacing: 5px;
    }
  }
}

@media screen and (max-height: 480px) {
  .image-container {
    display: none;
  }
}
