// My Colors
// Blue-Shade: #1565C0,
// Grey-Shade: #37474F,
// Pink-Shade: #FF5252,
// Yellow-Shade: #FFE57F

main {
  width: 80%;
  height: 800px;
  display: flex;
  padding-top: 7rem;
  flex: 1;
  background-color: #fff;
  margin: 0 auto;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 2;
  height: 500px;

  h3 {
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: 5px;
    color: #37474f;
  }

  h1 {
    font-size: 8.5em;
    color: #1565c0;
    margin: 2rem 0;
    letter-spacing: 5px;
  }

  span {
    color: #ff5252;
  }

  h4 {
    font-size: 3em;
    font-weight: 300;
    letter-spacing: 7px;
    color: #37474f;
  }
}

.image-container {
  height: 500px;

  img {
    width: 550px;
    height: 100%;
  }
}

// Responsive styles

@media screen and (max-width: 1660px) {
  .image-container {
    img {
      width: 420px;
    }
  }
}

@media screen and (max-width: 1480px) {
  main {
    padding-top: 11rem;
  }

  .image-container {
    img {
      display: none;
    }
  }
}
