@import '../../_Global_Styles/variables';

nav {
  width: 100%;
  height: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: $mobilepadding;

  .nav-links {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    background-color: $menucolor;
    clip-path: circle(100px at 90% -20%);
    transition: all 0.8s ease-in;
    z-index: 1;

    &.open {
      clip-path: circle(2200px);
    }

    li a {
      color: $appcolor;
      text-decoration: none;
      font-size: 1.5rem;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 9rem;
      height: 3rem;
      opacity: 0;
    }

    li:nth-child(1) {
      transition: all 0.5s ease-in-out 0.18s;
    }

    li:nth-child(2) {
      transition: all 0.5s ease-in-out 0.28s;
    }

    li:nth-child(3) {
      transition: all 0.5s ease-in-out 0.38s;
    }

    li:nth-child(4) {
      transition: all 0.5s ease-in-out 0.48s;
    }

    li.fade {
      opacity: 1;
    }
  }
}
