@import '../../_sass-variables/colors';

.hamburger-box {
  display: none;
}

nav {
  width: 80%;
  height: 80px;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    margin-right: 25rem;

    h2 {
      color: $greyshade;
    }
  }
}

.nav-link {
  padding: 0.5rem 1.5rem;
  transition: all 0.3s ease-out;

  a {
    font-size: 1em;
    font-weight: 500;
    color: $greyshade;
    text-decoration: none;
  }

  &:nth-child(odd):hover {
    cursor: pointer;
    background-color: $yellowshade;
    border-radius: 0.3rem;

    a {
      color: #37474f;
    }
  }

  &:nth-child(even):hover {
    cursor: pointer;
    background-color: $pinkshade;
    border-radius: 0.3rem;

    a {
      color: #fff;
    }
  }
}

// Responisve styles
@media screen and (max-width: 1340px) {
  .logo {
    display: none;
  }

  .hamburger-box {
    width: 80%;
    height: 80px;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .hamburger-icon {
    width: 65px;
    height: 65px;
    padding: 0.8rem 0;
    background-color: rgba(255, 255, 255, 0.815);
    border: none;
    border-radius: 50%;
    box-shadow: 0px 1px 20px -5px rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 5;

    &:hover {
      cursor: pointer;
    }
  }

  nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: $yellowshade;
    clip-path: circle(20px at 0% -10%);
    transition: all 0.9s ease-in;
    z-index: 4;
  }

  .nav-link {
    opacity: 0;

    &:nth-child(odd):hover {
      background-color: $blueshade;

      a {
        color: #fff;
      }
    }

    a {
      font-size: 2em;
    }
  }

  &.open {
    clip-path: circle(1800px at 95% -10%);

    .nav-link {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1280px) {
  .nav-link {
    a {
      font-size: 1.5em;
    }
  }
}

@media screen and (max-width: 720px) {
  .nav-link {
    a {
      font-size: 1em;
    }
  }
}

@media screen and (max-width: 420px) {
  .hamburger-box {
    .hamburger-icon {
      width: 60px;
      height: 60px;
    }
  }
}
