:root {
  --base: 1.3rem;
  --scale: 1.5;
  --main-margin: 5rem;
  --font-m: 1rem;
  --font-l: calc(var(--base) * var(--scale) * var(--scale) * var(--scale));

  @media (min-width: 400px) {
    --font-m: 1.2rem;
  }

  @media (min-width: 440px) {
    --scale: 1.6;
  }

  @media (min-width: 530px) {
    --scale: 1.7;
    --font-m: 1.5rem;
  }

  @media (min-width: 1560px) {
    --scale: 1.8;
    --font-m: 2.2rem;
  }
}
